<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-8">
        <div class="media">
            <div class="media-body">
                </br>
                <h2 class="media-heading"><%= current_user.username %></h2>
                <small>
                    <%= pluralize(current_user.wikis.count, 'wiki') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h2>Current Account Status: <%= current_user.role_name.capitalize %></h2>
