<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-8">
        <div class="media">
            <div class="media-body">
                </br>
                <h2 class="media-heading"><%= current_user.username %>'s Wikis:</h2>
                <small>
                    <% Wiki.all.each do |wiki| %>
                        <% if wiki.author == current_user.username %>
                            <li><%= link_to wiki.title, wiki %></li>
                        <% end %>
                    <% end %>
                </small>
            </div>
        </div>
    </div>
</div>